body {
  margin: 0;
  padding: 0;
}

.head {
  height: 100%;
  width: 100%;
  background-image: url("https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2013/11/05/101173577-coconuts.jpg?v=1383711313");
}

/* #FFF037, #FCC2C2, #7DCEC1, #916953 */
#section-head {
  position: block;
  align-items: center;
  padding: 10px;
}

#instagram {
  padding: 20px;
}

#delivery {
  padding: 20px;
}
.para {
  width: 40%;
  color: white;
  margin: 1% 0 0 15%; 
  font-size: 1.5em;
} 

.title {
  font-size: 4em;
  margin: 0 0 0 15%;
  color: white;
}

.uptitle{
  margin: 5% 0 0 0;
  color:white;
}

.mini {
  margin: 2% 0 0 0;
  font-size: 2em; 
  color: white;
}
/* #FFF037, #FCC2C2, #7DCEC1, #916953 */
